body { background-color: black; overflow: hidden; }

#Weltraum { position:absolute; }

.Ding { position:absolute; }

#Raumschiff-off, #Raumschiff-on { width: 20px; }
#Raumschiff-off { position: absolute; }
#Raumschiff-on { position: relative; visibility: hidden; }
#Raumschiff-explode { position: absolute; transform: translate(-50%, -50%);visibility: hidden; }

.ReferenzPunkt { width: 0px; height: 0px; border: 1px solid red; display: none; }

.Beschriftung { color: red; font-size: 10px; display: none; }

#Status, #Status * {
    text-align: center;
    color: red;
    font-family: Courier;
    font-size: 1em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}